.MusicPlayer {
    height: 15vh;
    width: 100%;
    background-color: rgb(142, 155, 231);
    color:white;
}
.seekbar{
    width: 80%;
    display: flex;
    align-items: center;
    gap:25px
}
.seekbar input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #444;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}   
.controls{
    display: flex;
    align-items: center;
    gap:20px;
   margin-top: 10px;
    justify-content: center;
}
.controls img{
    width:40px;
    height:40px;
    cursor: pointer;
   filter:contrast(100)
}