*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
nav img{
    padding: 15px 0px 15px 15px;
    height: 10vh;
    width: 100%;
}
ul{
    list-style: none;
    display: flex; 
    gap: 20px;  
}
ul li{
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 12px;
     font-family: 'Roboto Mono', monospace;
}
 ul li:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}
ul li:active{
    transform: scale(0.8);
    transition: 0.1s ease-in-out;
}   
